@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Raleway:wght@700&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
}

body{
    overflow: hidden;
}

main{
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav {
    width: 100%;
    height: 8%;
    /* border-top: 3px solid #155CA2; */
    border-top: 3px solid #91CC12;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    border-bottom: 1px solid #155ba231;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav .navegacion {
    width: 80%;
    height: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav .navegacion .logo {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .navegacion .logo img {
    height: 80%;
}

nav .navegacion .buscador {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .navegacion .buscador input {
    padding: 8px;
    border-radius: 7px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    border: 1px solid #33333348;
    outline: none;
    width: 90%;
}


nav .navegacion .opciones {
    width: 20%;
    height: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

nav .navegacion .opciones a {
    padding: 7px;
    border: 1px solid #1b75d0;
    text-decoration: none;
    border-radius: 7px;
    color: #1b75d0;
    font-size: 13px;
}

nav .navegacion .opciones a:nth-child(2) {
    background-color: #1b75d0;
    color: white;
}

nav .navegacion .opciones a:nth-child(3) {
    background-color: rgb(236, 68, 68);
    color: white;
    border: 1px solid rgb(236, 68, 68);
}